In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import datetime
import math
from decimal import Decimal

In [2]:
social_media = pd.read_csv(r"social_media_data_intern2grow.csv")
social_media

            date   platform post_type   likes  shares  comments   views
0     2023-05-24    Twitter     image   868.0   238.0     352.0  8836.0
1     2023-02-23    Twitter     image   944.0   610.0     146.0  5554.0
2     2023-03-18  Instagram     image  1067.0   858.0     365.0  4018.0
3     2023-06-12    Twitter      text   780.0   427.0     100.0  6999.0
4     2023-02-03  Instagram      text   836.0   893.0     443.0  5802.0
...          ...        ...       ...     ...     ...       ...     ...
1995  2023-01-15   Facebook     video  2039.0   523.0     371.0  4780.0
1996  2022-11-13    Twitter     image  1652.0   891.0     410.0  8741.0
1997  2023-09-18    Twitter     video   528.0   207.0     341.0  6588.0
1998  2023-04-23   Facebook     video  1288.0   893.0     328.0  8349.0
1999  2023-08-13    Twitter     image   835.0   532.0     424.0  9236.0

[2000 rows x 7 columns]

In [3]:
DataFrame = pd.DataFrame(social_media)

In [4]:
DataFrame.describe()

             likes       shares     comments        views
count  1992.000000  1992.000000  1992.000000  1990.000000
mean   1289.795181   497.286647   305.847892  6966.834673
std     525.123426   229.809511   114.761598  1724.795879
min     400.000000   100.000000   100.000000  4000.000000
25%     820.000000   300.000000   206.000000  5507.000000
50%    1292.000000   491.000000   310.500000  6947.000000
75%    1753.250000   688.000000   407.000000  8398.250000
max    2200.000000   900.000000   500.000000  9998.000000

In [7]:
DataFrame.isnull().sum()

date         0
platform     0
post_type    0
likes        0
shares       0
comments     0
views        0
dtype: int64

In [6]:
DataFrame=DataFrame.fillna('')

In [8]:
DataFrame.nunique()

date          365
platform        4
post_type       3
likes        1204
shares        729
comments      400
views        1688
dtype: int64

In [9]:
DataFrame['date'] = pd.to_datetime(DataFrame['date'])
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2000 non-null   datetime64[ns]
 1   platform   2000 non-null   object
 2   post_type  2000 non-null   object
 3   likes      2000 non-null   object
 4   shares     2000 non-null   object
 5   comments   2000 non-null   object
 6   views      2000 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 109.5+ KB

In [10]:
DataFrame.dropna()

           date   platform post_type   likes shares comments   views
0    2023-05-24    Twitter     image   868.0  238.0    352.0  8836.0
1    2023-02-23    Twitter     image   944.0  610.0    146.0  5554.0
2    2023-03-18  Instagram     image  1067.0  858.0    365.0  4018.0
3    2023-06-12    Twitter      text   780.0  427.0    100.0  6999.0
4    2023-02-03  Instagram      text   836.0  893.0    443.0  5802.0
...         ...        ...       ...     ...    ...      ...     ...
1995 2023-01-15   Facebook     video  2039.0  523.0    371.0  4780.0
1996 2022-11-13    Twitter     image  1652.0  891.0    410.0  8741.0
1997 2023-09-18    Twitter     video   528.0  207.0    341.0  6588.0
1998 2023-04-23   Facebook     video  1288.0  893.0    328.0  8349.0
1999 2023-08-13    Twitter     image   835.0  532.0    424.0  9236.0

[2000 rows x 7 columns]

In [11]:
DataFrame.duplicated().sum()

0

In [12]:
DataFrame.describe().T

,count,mean,min,25%,50%,75%,max
date,2000,2023-04-12 02:11:02.400000,2022-10-13 00:00:00,2023-01-08 00:00:00,2023-04-07 00:00:00,2023-07-14 00:00:00,2023-10-13 00:00:00

In [15]:
DataFrame['likes'] = DataFrame['likes'].replace('', np.nan).astype(float)
DataFrame['shares'] = DataFrame['shares'].replace('', np.nan).astype(float)
DataFrame['comments'] = DataFrame['comments'].replace('', np.nan).astype(float)
DataFrame['views'] = DataFrame['views'].replace('', np.nan).astype(float)

C:\Users\omars\AppData\Local\Temp\ipykernel_18132\1180197386.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  DataFrame['likes'] = DataFrame['likes'].replace('', np.nan).astype(float)
C:\Users\omars\AppData\Local\Temp\ipykernel_18132\1180197386.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  DataFrame['shares'] = DataFrame['shares'].replace('', np.nan).astype(float)
C:\Users\omars\AppData\Local\Temp\ipykernel_18132\1180197386.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  DataFrame['comments'] = DataFrame['comments'].replace('', np.nan).astype(float)
C:\Users\omars\AppData\Local\Temp\ipykernel_18132\1180197386.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  DataFrame['views'] = DataFrame['views'].replace('', np.nan).astype(float)

## 1.What was the total number of likes, shares, comments, and views (for videos) over the year?

In [16]:
total_engagement = DataFrame[["likes", "shares", "comments", "views"]].sum()
total_engagement

likes        2569272.0
shares        990595.0
comments      609249.0
views       13864001.0
dtype: float64

## 2.Which platform had the highest engagement? (engagement = likes + shares + comments)

In [19]:
DataFrame["engagement"] = DataFrame["likes"] + DataFrame["shares"] + DataFrame["comments"]
platform_engagement = DataFrame.groupby('platform')['engagement'].sum()
highest_engagement_platform = platform_engagement.idxmax()
highest_engagement_platform

'Instagram'

## 3.What was the average number of likes, shares, comments, and views per post on each platform?

In [21]:
platform_averages = DataFrame.groupby('platform')[["likes", "shares", "comments", "views"]].mean()
platform_averages

                           likes      shares    comments        views
platform
Facebook             1289.982428  513.141494  311.160317  6984.239234
Instagram            1305.837278  497.372404  301.046062  6905.875556
NonExistingPlatform  1150.166667  515.833333  285.500000  6729.166667
Twitter              1274.994152  482.437775  305.857980  7013.258065

## 4.What was the total number of each type of post (video, image, text) on each platform?

In [23]:
post_type_counts = DataFrame.groupby(['platform', 'post_type']).size().unstack()
post_type_counts

post_type            image  text  video
platform
Facebook               218   204    209
Instagram              267   203    208
NonExistingPlatform      1     3      2
Twitter                249   219    217

## 5.Which type of post had the highest average engagement?

In [29]:
post_type_engagement = DataFrame.groupby('post_type')['engagement'].mean()
post_type_engagement
highest_engagement_post_type = post_type_engagement.idxmax()
highest_engagement_post_type

'text'

## 6.What was the total engagement in each quarter of the year?

In [30]:
DataFrame['quarter'] = DataFrame['date'].dt.quarter
quarter_engagement = DataFrame.groupby('quarter')['engagement'].sum()
quarter_engagement

quarter
1    1025381.0
2    1000644.0
3     978372.0
4    1131411.0
Name: engagement, dtype: float64